aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiohttp-retry==2.9.1
aiosignal==1.4.0
asgiref==3.6.0
attrs==25.3.0
autopep8==2.0.1
beautifulsoup4==4.12.2
Brotli==1.1.0
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
cssselect2==0.8.0
dj-database-url==2.1.0
Django==4.1.5
django-bootstrap-v5==1.0.11
django-crispy-forms==1.14.0
django-postgrespool2==2.0.5
django-ratelimit==4.1.0
docopt==0.6.2
fonttools==4.59.0
frozenlist==1.7.0
greenlet==3.0.3
gunicorn==21.2.0
httplib2==0.22.0
idna==3.10
multidict==6.6.3
num2words==0.5.12
numpy==2.3.1
packaging==23.2
pandas==2.3.1
pillow==11.2.1
propcache==0.3.2
psycopg2==2.9.9
psycopg2-binary==2.9.9
pycodestyle==2.10.0
pycparser==2.22
pydyf==0.11.0
pyJasper==0.41
PyJWT==2.10.1
pyparsing==3.1.1
pyphen==0.17.2
python-barcode==0.15.1
python-dateutil==2.9.0.post0
pytz==2023.3.post1
requests==2.32.4
six==1.17.0
soupsieve==2.4.1
SQLAlchemy==2.0.31
sqlparse==0.4.3
tinycss2==1.4.0
tinyhtml5==2.0.0
tomli==2.0.1
twilio==9.6.4
typing_extensions==4.9.0
tzdata==2022.7
urllib3==2.5.0
weasyprint==65.1
webencodings==0.5.1
whitenoise==6.7.0
yarl==1.20.1
zopfli==0.2.3.post1
