<!--- FOOTER -->

<footer>
  <div class="footer-nav">
    <div class="container">
      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <h2 class="nav-title">Contact</h2>
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <ion-icon name="location-outline"></ion-icon>
          </div>

          <address class="content">
            {% if org_data and org_data.address %}
                {{ org_data.address }}
            {% else %}
              Sector#9, 2nd Floor, House#612, road#10, Uttara, Dhaka-1230, Bangladesh
            {% endif %}
          </address>
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <ion-icon name="call-outline"></ion-icon>
          </div>

          <a href="tel:+607936-8058" class="footer-nav-link">
            {% if org_data and org_data.phone %}
                {{ org_data.phone }}
            {% else %}
              +8801710XXXXXX
            {% endif %}
          </a>
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <ion-icon name="mail-outline"></ion-icon>
          </div>

          <a href="mailto:example@gmail.com" class="footer-nav-link">
            {% if org_data and org_data.email %}
                {{ org_data.email }}
            {% else %}
              tbox.info.bd@gmail.com
            {% endif %}
          </a
          >
        </li>
      </ul>

      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <h2 class="nav-title">Follow Us</h2>
        </li>

        <li>
          <ul class="social-link">
            {% if org_data and org_data.fb_link %}
              <li class="footer-nav-item">
                <a href="{{ org_data.fb_link }}" target="_blank" rel="noopener noreferrer" class="footer-nav-link">
                  <ion-icon name="logo-facebook"></ion-icon>
                </a>
              </li>
            {% endif %}

            {% if org_data and org_data.twitter_link %}
              <li class="footer-nav-item">
                <a href="{{ org_data.twitter_link }}" target="_blank" rel="noopener noreferrer" class="footer-nav-link">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a>
              </li>
            {% endif %}

            {% if org_data and org_data.linkedin_link %}
              <li class="footer-nav-item">
                <a href="{{ org_data.linkedin_link }}" target="_blank" rel="noopener noreferrer" class="footer-nav-link">
                  <ion-icon name="logo-linkedin"></ion-icon>
                </a>
              </li>
            {% endif %}

            {% if org_data and org_data.instagram_link %}
              <li class="footer-nav-item">
                <a href="{{ org_data.instagram_link }}" target="_blank" rel="noopener noreferrer" class="footer-nav-link">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <!-- <img src="./assets/images/payment.png" alt="payment method" class="payment-img"> -->

      <p class="copyright">
        Copyright &copy; <a href="#">Tbox</a> all rights reserved.
      </p>
    </div>
  </div>
</footer>
