{% extends 'base_form/main_base/main_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_link %}
<!--========== CSS ==========-->
<link rel="stylesheet" href="{% static 'base_setup/css/base_setup.css' %}">
<!--========== from type_category js file ==========-->
<script src="{% static 'base_setup/js/base_setup.js' %}"></script>
{% endblock %}
<!--========== CONTENTS start==========-->
{% block body %}
<main>
    <section style="margin-top: 10px;">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <!--  -->
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="class_wise_merit_position-tab" href="#class_wise_merit_position" type="button" role="tab">Class Wise Merit Position Policy</a>
            </li>
            <!--  -->
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="subjects_wise_merit_position-tab" href="#subjects_wise_merit_position" type="button" role="tab">Subjects Wise Merit Position Policy</a>
            </li>
            <!--  -->
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="section_groups_policy-tab" href="#section_groups_policy" type="button" role="tab">Section Grouping Policy</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <!-- class_wise_merit_position -->
            <div class="tab-pane show active" id="class_wise_merit_position" role="tabpanel">
                <!-- class_wise_merit_position policy content here -->
                {% include 'policy_setup/merit_position/class_wise_merit_positions.html' %}
            </div>
            <!-- subjects_wise_merit_position -->
            <div class="tab-pane" id="subjects_wise_merit_position" role="tabpanel">
                <!-- subjects_wise_merit_position policy content here -->
                {% include 'policy_setup/merit_position/subjects_wise_merit_position.html' %}
            </div>
            <!-- section_groups_policy -->
            <div class="tab-pane" id="section_groups_policy" role="tabpanel">
                <!-- section_groups_policy policy content here -->
                {% include 'policy_setup/merit_position/section_groups_policy.html' %}
            </div>
        </div>
    </section>
</main>
{% endblock %}